In [1]:
import pandas as pd
import MySQLdb

In [2]:
connection = MySQLdb.connect(
'localhost',
    'root',
    '1234',
    'employees',
    charset='utf8'
)

In [3]:
connection

In [4]:
cursor = connection.cursor()

In [5]:
sql = '''
create table mytable
(
email varchar(225),
phone varchar(225),
address varchar(225),
deposit int,
rent int
);
'''

In [6]:
#cursor.execute(sql)

In [7]:
sql = '''
show tables;
'''

cursor.execute(sql)

6

In [8]:
cursor.fetchall()

(('departments',),
 ('dept_emp',),
 ('dept_manager',),
 ('employees',),
 ('salaries',),
 ('titles',))

In [9]:
sql = '''
select * from mytable;
'''

cursor.execute(sql)

ProgrammingError: (1146, "Table 'employees.mytable' doesn't exist")

In [ ]:
cursor.fetchall()

In [ ]:
sql = '''
insert into mytable (email, phone, address, deposit, rent)
values(
'multicampus@gmail.com',
'010-555-5555',
'서울시 강남구 역삼동',
5000,
10
);
'''

In [ ]:
cursor.execute(sql)

In [ ]:
sql = '''
select * from mytable;
'''

In [ ]:
pd.read_sql(sql, connection)

In [ ]:
db = MySQLdb.connect(
'localhost',
    'root',
    '1234',
    'sakila',
    charset='utf8'
)

In [ ]:
df = pd.read_sql('select * from customer', db)
df

In [ ]:
df = pd.read_sql('show tables;', db)
df.head()

In [ ]:
df['Tables_in_sakila']

In [ ]:
def save_to_csv(table_name):
    table_df = pd.read_sql('select * from {};'.format(table_name), db)
    table_df.to_csv('./data/{}.csv'.format(table_name))

In [ ]:
df['Tables_in_sakila']

In [ ]:
df['Tables_in_sakila'].apply(save_to_csv)

In [ ]:
db = MySQLdb.connect(
'localhost',
    'root',
    '1234',
    'world',
    charset='utf8'
)

In [ ]:
sql = '''
show tables;
'''
pd.read_sql(sql, db)

In [ ]:
sql = '''
select * from country;
'''
country_df = pd.read_sql(sql, db)
country_df.to_csv('world_country.csv')

In [ ]:
sql = '''
select * from city;
'''
city_df = pd.read_sql(sql, db)
city_df.to_csv('world_city.csv')

In [ ]:
# country에서
# name. population, continent 만을 뽑아서 country_df 로 출력
# pandas와 sql로 각각 실행
# 컬럼명 '국가명', '인구수' ,'대륙'

In [ ]:
country_df = country_df[['Name','Population','Continent']]
country_df.head()

In [ ]:
country_df.columns = ['국가명','인구수','대륙']

In [ ]:
country_df.rename(columns=\
{'Name':'국가명', 'Population':'인구수','Continent':'대륙'})

In [ ]:
country_df.head()

In [ ]:
sql = '''
select name '국가명', population '인구수', 
continent '대륙' from country;
'''
pd.read_sql(sql, db).head()

In [ ]:
country_df.count()

In [ ]:
len(country_df)

In [ ]:
sql = '''
select count(*) 전체데이터수 from country;'''

pd.read_sql(sql, db)

In [ ]:
# europe에 위치하고 인구수가 10,000,000 이상인
# 국가명, 위치한 대륙, 인구수를 dataframe으로 출력
# pandas와 sql을 각각 이용

In [ ]:
# country_df['Continent'] == 'Europe'
# country_df['Population'] >= 10000000
country_df[country_df['Continent'] == 'Europe']\
[country_df['Population'] >= 10000000].head()

In [ ]:
eu= country_df['Continent'] == 'Europe'
po =  country_df['Population'] >= 10000000

country_df[eu & po].head()

In [ ]:
sql = '''
select name, population, continent from country
where continent='europe' and population >= 10000000;
'''
pd.read_sql(sql, db).head()

In [ ]:
## asia 또는 europe에 속한 국가명, 인구수, 대륙을 
## pandas , sql

In [ ]:
asia = country_df['Continent'] == 'Asia'
europe = country_df['Continent'] == 'Europe'
country_df[asia | europe].head()

In [ ]:
# country_df['Continent'].isin(['Asia', 'Europe'])

In [ ]:
country_df[country_df['Continent'].isin(['Asia', 'Europe'])]

In [ ]:
sql = '''
select name, continent, population from country 
where continent='europe' or continent = 'asia';  '''

pd.read_sql(sql, db).head()

In [ ]:
sql = '''
select name, continent, population from country 
where continent in ('europe', 'asia');'''

pd.read_sql(sql, db)

In [ ]:
# 인구수 내림차순으로 국가명, 인구수 dataframe으로 출력
# pandas, sql

In [ ]:
country_df.sort_values('Population', ascending=False)\
[['Population','Name']].head()

In [ ]:
sql = '''
select name, population from country order 
by population desc;
'''
pd.read_sql(sql, db).head()

In [ ]:
import time

start_time = time.time()
sql = '''
select * from country;
'''
pd.read_sql(sql, db)
end_time = time.time()

print(end_time - start_time)

In [ ]:
import time

start_time = time.time()
sql = '''
select count(*) from country;
'''
pd.read_sql(sql, db)
end_time = time.time()

print(end_time - start_time)

In [ ]:
import time

start_time = time.time()
pd.read_csv('world_country.csv')
end_time = time.time()

print(end_time - start_time)

In [ ]:
# GovernmentForm/country table 'republic'이라는 텍스트 포함
# pandas, sql
# 국가명, governmentform

In [ ]:
country  = pd.read_csv('world_country.csv')

country_df[country['GovernmentForm'].str.\
           contains('Republic')].head()

In [ ]:
sql = '''
select name, governmentform from country
where governmentform like '%republic%';
'''
pd.read_sql(sql, db).head()

In [ ]:
# sakila
# adress, name - 고객이름(customer)과 주소(address)가 
# 함꼐 있는 df

In [ ]:
db = MySQLdb.connect(
'localhost',
    'root',
    '1234',
    'sakila',
    charset='utf8'
)

In [ ]:
sql = '''
select * from address;
'''
address_df = pd.read_sql(sql, db)

In [ ]:
sql = '''
select * from customer;
'''
customer_df = pd.read_sql(sql, db)

In [ ]:
address_df.head(2)

In [ ]:
customer_df.head(2)

In [ ]:
pd.merge(customer_df, address_df, on='address_id')\
[['first_name', 'address']].head()

In [ ]:
sql = '''
select first_name, address from customer c 
inner join address a on a.address_id = c.address_id;
'''
pd.read_sql(sql, db).head()

In [ ]:
sql = '''
select first_name, address 
from customer c, address a 
where a.address_id = c.address_id;
'''
sql = '''
select first_name, address 
from customer, address 
where address.address_id = customer.address_id;'''

pd.read_sql(sql, db).head()

In [ ]:
# world db => (country name, city name)

In [ ]:
db = MySQLdb.connect(
'localhost',
    'root',
    '1234',
    'world',
    charset='utf8'
)

In [ ]:
sql = '''
select * from country;
'''
country_df = pd.read_sql(sql,db)

In [ ]:
sql = '''
select * from city;
'''
city_df = pd.read_sql(sql,db)

In [ ]:
country_df.head(2)

In [ ]:
city_df.head(2)

In [ ]:
pd.merge(country_df, city_df, left_on='Code', \
         right_on='CountryCode')[['Name_x','Name_y']].head()

In [ ]:
sql = '''
select co.Name 'Country', ci.Name 'City'  
from country co inner join city ci 
on co.Code = ci.CountryCode;
'''
pd.read_sql(sql,db).head()

In [ ]:
sql = '''
select co.Name , ci.Name   
from country co, city ci 
where co.Code = ci.CountryCode;
'''
pd.read_sql(sql,db).head()

In [ ]:
# sakila의 rental 테이블에서 월별 렌탈 수 출력
# 날짜는 오름차순 정렬
# dataframe
# pandas, sql

In [ ]:
db = MySQLdb.connect(
'localhost',
    'root',
    '1234',
    'sakila',
    charset='utf8'
)

In [ ]:
sql = '''
select * from rental;
'''
rental_df = pd.read_sql(sql, db)
rental_df.head(3)

In [ ]:
rental_df = rental_df[['rental_id','rental_date']]
rental_df.head(2)

In [ ]:
rental_df['month'] = rental_df['rental_date'].\
apply(lambda x: str(x)[:7])

In [ ]:
rental_df.head()

In [ ]:
rental_df.groupby('month')['rental_id'].count()

In [ ]:
sql = '''
select left(rental_date,7)  'month', 
count(rental_id) total_count from rental group by month;
'''
pd.read_sql(sql, db).head()

In [ ]:
# payment table
# 월별 전체 매출, 평균 매출, 결제 갯수
# 위의 값을 출력하고
# 위의 각각의 값을  dataframe의 칼럼값으로 해서 출력 
# pandas, sql

In [ ]:
sql = '''
select * from payment;
'''
payment_df = pd.read_sql(sql, db)
payment_df.head(2)

In [ ]:
payment_df = payment_df[['payment_id','amount','payment_date']]
payment_df.head()

In [ ]:
payment_df['month'] = payment_df['payment_date'].apply\
(lambda x: str(x)[:7])
payment_df.head()

In [ ]:
payment_df.groupby('month')['payment_id'].count()

In [ ]:
payment_df.groupby('month')['amount'].sum()

In [ ]:
payment_df.groupby('month')['amount'].mean()

In [ ]:
import numpy as np
payment_df.groupby('month').\
agg({'amount': [np.mean, np.sum], 'payment_id':np.size })

In [ ]:
sql = '''
select left(payment_date, 7) month, count(payment_id) 
'총구매개수', avg(amount) '월평균매출', sum(amount) '월매출총합'
from payment 
group by month;
'''
pd.read_sql(sql, db)