In [3]:
# pandas 
# data structure
# 1. Series  1
# 2. DataFrame 2
# 3. Panel 3

# index(axis=0), colums(axis=1)

# Series (Size=Immutable)

In [4]:
import pandas as pd
s = pd.Series()
s

Series([], dtype: float64)

In [18]:
import numpy as np
import pandas as pd
data = np.array(['a','b','c','d'])
s1 = pd.Series(data)
s1
s2 = pd.Series(data, index=[100,101,102,103])
s2
data2 = {'a':0, 'b':1, 'c':2, 'd':3}
s3 = pd.Series(data2)
s3
s4 = pd.Series(data2, index=['b','a','c','e'])
s4
print(s4[2])
print(s4['a'])
s4[:3]
s4[1:]
s4[-3:]
s4[['a','b']]

2.0
0.0

a    0.0
b    1.0
dtype: float64

In [ ]:
# DataFrame(Size - Mutable)
# -> Lists, dict, Series, Numpy narrays, ...dataframe

In [26]:
import pandas as pd
df = pd.DataFrame()
df
data = [1,2,3,4,5,6]
df2 = pd.DataFrame(data)
df2
data2 = [['Tome',2000], ['John', 3000], ['Amy', 5000]]
df3 = pd.DataFrame(data2)
df3
df4 = pd.DataFrame(data2, 
                   index=['one','two','three'],
                   columns=['Name', 'Salary'], dtype=float)
df4

       Name  Salary
one    Tome  2000.0
two    John  3000.0
three   Amy  5000.0

In [28]:
data3 = {'Name':['a','b','c'],'salary':['100','200','300']}
df5 = pd.DataFrame(data3)
df5

  Name salary
0    a    100
1    b    200
2    c    300

In [44]:
data4 = {'one':pd.Series([1,2,3], index=['a', 'b', 'c']),
        'two':pd.Series([1,2,3,4], index=['a','b','c','d'])}
df6 = pd.DataFrame(data4)
df6
df6['one']
df6['two']
df6['three'] = pd.Series([10,20,30],index=['b','c','d'])
df6
df6["four"] = df6['one'] + df6['two']
df6

del df6['one']
df6

   two  three  four
a    1    NaN   2.0
b    2   10.0   4.0
c    3   20.0   6.0
d    4   30.0   NaN

In [67]:
print(df6)
# index
# label, index --> loc, iloc (row select)
#df6['two']
#df6.loc['two']
#df6.iloc[0]
df6.loc['a']
d = df6.iloc[1]
type(d)

d2 = pd.DataFrame(d)
type(d2)
d2

   two  three  four
a    1    NaN   2.0
b    2   10.0   4.0
c    3   20.0   6.0
d    4   30.0   NaN

          b
two     2.0
three  10.0
four    4.0

In [79]:
#d2.append
df7 = pd.DataFrame([[1,2],[3,4]], columns=['a','b'])
df8 = pd.DataFrame([[5,6],[7,8]], columns=['a','b'])
df9 = df7.append(df8)
df9
df10 = df9.drop(0)

   a  b
1  3  4
1  7  8

In [90]:
# panel 3
import pandas as pd
import numpy as np
data = np.random.randn(2,4,5)
type(data)
df11 = pd.Panel(data)
df11

data2 = {
    'one':pd.DataFrame(np.random.randn(4,3)),
    'two':pd.DataFrame(np.random.randn(4,2))
}

df12 = pd.Panel(data2)
type(df12['two'])
print(df12['one'])
print(df12['two'])

          0         1         2
0  0.541204  0.105348  1.541525
1 -0.179443 -0.168727  0.036467
2  0.365844  1.179176 -0.192464
3  0.392253  0.081371  0.526515
          0         1   2
0 -0.219912  1.132702 NaN
1 -0.835772  1.301350 NaN
2 -0.963552 -0.963407 NaN
3 -0.713747 -0.685269 NaN

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3296: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
# pandas

In [101]:
import numpy as np
import pandas as pd
s = pd.Series(np.random.randn(4))
type(s)
#s.axes
#s.empty
s.ndim
s.size
type(s)
type(s.values)

numpy.ndarray

In [112]:
data5 = [[1,2],[3,4]]
df20 = pd.DataFrame(data5)
df20.T
df20.dtypes
df20.ndim
df20.shape
df20.size
df20.values
df20.describe()

              0         1
count  2.000000  2.000000
mean   2.000000  3.000000
std    1.414214  1.414214
min    1.000000  2.000000
25%    1.500000  2.500000
50%    2.000000  3.000000
75%    2.500000  3.500000
max    3.000000  4.000000

In [115]:
# element wise function
df20
df20[0].map(lambda x:x*100)

0    100
1    300
Name: 0, dtype: int64

In [122]:
df21 = pd.DataFrame(np.random.randn(10,3), columns=['col1','col2','col3'])
df22 = pd.DataFrame(np.random.randn(7,3), columns=['col1','col2','col3'])
df23 = df21.reindex_like(df22)

df24 = df23.rename(columns={'col1':'cl1', 'col2':'cl2'},
                  index={0:'one', 1:'two'}) # inplace=True
df24

          cl1       cl2      col3
one  1.135185 -1.577995 -0.556086
two -1.421952 -1.083237 -0.396506
2    0.236498  0.200735  1.609607
3   -0.573942  0.963536  1.087305
4   -1.723818 -0.161950 -2.495162
5   -0.229187 -1.457472 -0.377474
6   -0.404641  0.487914 -0.246326